{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/partners.css')}}">
{% endblock %}

{% block title %}
Partners
{% endblock %}

{% block body %}
<main class="py-3 mb-3">
    <div class="container">
      <div class="row">

        <!-- POSTS -->
        <div class="col-md-0">

          <!-- Title -->
          <h2>Partners</h2>
          <p class="mainp">
            These are my friends from the IT academy and their projects, so I advise you to look at their sites. you might like them.
          </p>
          <ul>
            <li>
          <a href="https://codepen.io/Star_Finger/pen/yLMGvdE" target="_blank" class="demo">
    <image src="https://images2.alphacoders.com/792/792423.png" raggable=false alt="demo2" width=15% class="pickt">
    </a>
            </li>
            <li class="partn"> 
               <a href="https://codepen.io/Saverrt/pen/gOmZemR" target="_blank" class="demo">
    <image src="https://avatanplus.com/files/resources/original/579b32d56f32c156363e91cf.png" raggable=false alt="demo2" width=6% class="pickt">
    </a>
            </li>
            <p>
               
               
               
               
               
               
               
               
               
              
                
               
               
               
               
               
               
               
               
              
                
               
               
               
               
               
               
               
               
              
                
               
               
               
               
               
               
               
               
              
                
               
               
               
               
               
               
               
               
              
            </p>
          </center>
          
        </div>
        <!-- /col-md-9 -->

        <!-- /blog-aside -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>
{% endblock %}