{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css')}}">
{% endblock %}

{% block title %}
Illustrator
{% endblock %}

{% block body %}
<main class="py-3 mb-3">
    <div class="container">
      <div class="row">

        <!-- POSTS -->
        <div class="col-md-0">

          <!-- Title -->
          <h2>Illustrator</h2>
          <img src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624185423/Ai-logo_mymves.png" class="img-fluid float-right adobe logop" width="200" draggable="false" alt="Adobe">
          <p class="mainp">
            <b>Adobe Illustrator</b> is a vector graphics editor and design program developed and marketed by Adobe Inc. Originally designed for the Apple Macintosh, development of Adobe Illustrator began in 1985. Along with Creative Cloud (Adobe's shift to monthly or annual subscription service delivered over the Internet), Illustrator CC was released. The latest version, Illustrator CC 2021, was released on October 20, 2020 and is the 25th generation in the product line. Adobe Illustrator was reviewed as the best vector graphics editing program in 2018 by PC Magazine.
          </p>
          <p class="mainp">
            Along with Creative Cloud (the result of Adobe's shift on its release strategy), Illustrator CC was released. This version (the 17th) was the first to be only sold in a subscription-based service model, in line with the other software in the formerly called Creative Suite. As part of Creative Cloud, this version brought improvements in that subject such as color, font and program settings syncing, saving documents to the cloud, and integration with Behance (a creative collaborative network), as well as other features such as a new touch-compatible type tool, images in brushes, CSS extraction, and files packaging.
          </p>
          <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew3_h0tdo6.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew3_h0tdo6.png" raggable=false alt="demo1" width=15% class="pickt">
    </a>
    <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew2_p5odej.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew2_p5odej.png" raggable=false alt="demo2" width=15% class="pickt">
    </a>
    <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew3_h0tdo6.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624188712/il-prew3_h0tdo6.png" raggable=false alt="demo3" width=15% class="pickt">
    </a>
          </center>
          
        </div>
        <!-- /col-md-9 -->

        <!-- /blog-aside -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>
{% endblock %}