{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/products.css')}}">
{% endblock %}

{% block title %}
Premiere Pro
{% endblock %}

{% block body %}
<main class="py-3 mb-3">
    <div class="container">
      <div class="row">

        <!-- POSTS -->
        <div class="col-md-0">

          <!-- Title -->
          <h2>Premiere Pro</h2>
          <img src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624185423/Pr-logo_bx3l4p.png" class="img-fluid float-right adobe logop" width="200" draggable="false" alt="Adobe">
          <p class="mainp">
            <b>Adobe Premiere Pro</b> is a timeline-based video editing software application developed by Adobe Inc. and published as part of the Adobe Creative Cloud licensing program. First launched in 2003, Adobe Premiere Pro is a successor of Adobe Premiere (first launched in 1991). It is geared towards professional video editing, while its sibling, Adobe Premiere Elements, targets the consumer market.
          </p>
          <p class="mainp">
            CNN was an early adopter of Adobe Premiere Pro. Also, in 2007, certain BBC departments adopted Premiere Pro. It has been used to edit feature films, such as Deadpool, Gone Girl, Captain Abu Raed, and more recently Terminator: Dark Fate and Monsters, and other venues such as Madonna's Confessions Tour.
          </p>
          <p class="mainp">
            Premiere Pro is the successor to Adobe Premiere and was launched in 2003. Premiere Pro refers to versions released in 2003 and later, whereas Premiere refers to the earlier releases. Premiere was based on ReelTime, a product acquired from SuperMac Technologies Inc. and was one of the first computer-based NLEs (non-linear editing system), with its first release on Mac in 1991. Adobe briefly abandoned the Mac platform after version 6 of Premiere. Up until version Premiere Pro 2.0 (CS2), the software packaging featured a galloping horse, in a nod to Eadweard Muybridge's work, "Sallie Gardner at a Gallop".
          </p>
          <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187711/pr-prew3_hcobbx.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187711/pr-prew3_hcobbx.png" raggable=false alt="demo1" width=15% class="pickt">
    </a>
    <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187711/pr-prew2_kfyps1.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187711/pr-prew2_kfyps1.png" raggable=false alt="demo2" width=15% class="pickt">
    </a>
    <a href="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187710/pr-prew1_uvj99c.png" class="demo">
    <image src="https://res.cloudinary.com/dmh8bbwem/image/upload/v1624187710/pr-prew1_uvj99c.png" raggable=false alt="demo3" width=15% class="pickt">
    </a>
          </center>
          
        </div>
        <!-- /col-md-9 -->

        <!-- /blog-aside -->

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </main>
{% endblock %}